.backgroundWrapper {
  align-items: center;
  animation-delay: 1s;
  animation-duration: 1s;
  animation-fill-mode: forwards;
  animation-iteration-count: 1;
  animation-name: fadeOut;
  display: flex;
  height: 100%;
  justify-content: center;
  min-height: 100vh;
  position: relative;
  width: 100vw;
}

.background {
  background-color: blue;
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  height: 100%;
  position: absolute;
  width: 100%;
  z-index: -1;
}

@keyframes fadeOut {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
